/*#block-system-main-menu {
  .menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .leaf {
      list-style: none;
    }
  }

  a {
    color: white;
    text-decoration: none;
  }

  li {
    font-size: modular-scale(0);
  }
}
*/
