body {
    overflow-x: hidden;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../../img/hero.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

// REMOVES THE STATEMENT ABOUT NO CONTENT
#first-time { display: none; }

button {
  cursor: pointer;
  color: color("white");
  width: 60%;
  padding: 5px 0;
  background-color: color("red");
  border: 2px outset color("red");
  border-radius: 15px;
  font-size: 1.5em;
}