/**
 * THEME COLORS
 */
$theme-admin-menu-primary-bg: #101010;
$theme-admin-menu-secondary-bg: #45454A;
$theme-admin-menu-font-color: #fafafa;

/**
 * COLOR MAP
 */
$colors: (
  "white": #fff,
  "black": #333333,
  "red": #B30838
);

/**
 * FONT IMPORTS AND SETTINGS
 */

$admin-font: $verdana;
$body-font: $helvetica;
$header-font: $helvetica;

/**
 * GLOBAL SETTINGS
 */
